<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- SEO -->
	<title> 동국대의 온라인 만해광장, 동마담 </title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../static/images/DMD.png" sizes="32x32">

	<!-- Styles -->
	<link rel='stylesheet' href='../static/css/me.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-me me-video">

<div class="me-video-container">
	<video class="video" muted autoplay loop src="../static/videos/back.mp4"></video>
</div>

<div class="fs-me">
	<div class="me-content">
		<div class="bio" style="font-weight: 700; font-size: 45pt; top: 40%; left: 40%; position: absolute;">
			<p style="margin-bottom: 15px">동국대의 온라인</p>
			<p>만해광장, <strong style="color: #FE7E36;">동마담</strong></p>
		</div>

		<div class="box">
			<div style="font-size: 22px">
				<a href="https://apps.apple.com/kr/app/%EB%8F%99%EB%A7%88%EB%8B%B4/id1570634413" target="_blank"> 동마담 앱 다운로드  </a>
			</div>
		</div>
	</div>
</div>

</body>
</html>
