<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- SEO -->
	<title> 미팅이 필요한 모든 순간, 코팅 </title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../static/images/koting_icon.png" sizes="32x32">

	<!-- Styles -->
	<link rel='stylesheet' href='../static/css/me.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-me me-video">

<div class="me-video-container">
	<video class="video" muted autoplay loop src="../static/videos/back.mp4"></video>
</div>

<div class="fs-me">
	<div class="me-content">
		<div class="bio" style="font-weight: 700; font-size: 45pt; top: 40%; left: 43%; position: absolute;">
			<p style="margin-bottom: 15px">미팅이 필요한</p>
			<p>모든 순간, <strong style="color: #a173ff;">코팅</strong></p>
		</div>

</div>

</body>
</html>